body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#f3e0e2;  
    font-family: 'Arial','Sans-serif';

}  
.login{  
        width: 600px;
        height: 270px;  
        overflow: hidden;  
        padding: 190px;  
        background: #23463f;  
        border-radius: 15px ; 
        background: linear-gradient(to right, white 50%, #ff4267 50%) no-repeat;
        background-size: calc(100%) calc(100%);
        background-position: left; 
        box-shadow: 2px 2px 15px #9e9394;
        position: absolute; 
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}  


h2{  
    position: fixed;
    top: 10;
    left: 160;
    color: #333333;  
    padding: 30px; 
    font-size: 38; 
    font-weight: 800;

}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  

#LoginFormText{
    color: white;
    font-size: 40;
    font-weight: 800;
    position: fixed;
    left: 500;
    top: 160;
    text-align: center;

    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;   
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}
#text{
    color: white;
    font-size: 18;
    font-weight: 600;
    font-family: "Courier New", monospace;
    position: fixed;
    left: 550;
    top: 310;
    text-align: center;
    padding-right: 30;


    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;   
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}
#Email{  
    background-color:#eeeeee;
    width: 300px;  
    height: 40px;  
    border: black;  
    border-radius: 2px;  
    padding-left: 8px; 
    position: fixed;
    top: 380;
    left: 100;  
}  
#Pass{  
    background-color:#eeeeee;
    width: 300px;  
    height: 40px;  
    border: none;  
    border-radius: 2px;  
    padding-left: 8px; 
    position: fixed;
    top: 430;
    left: 100; 
      
}  
#log{  
    position: fixed;
    top: 540;
    left: 180;
    background-color: #ff4267;
    width: 135px;  
    height: 40px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 7px;  
    color: white;  
} 

#log:hover{
    background-color: white;
    color: black;
    border: solid;
    border-color: black;

} 
span{ 
    position: fixed;
    left: 300;
    top: 460;
    color: white;  
    font-size: 17px;  
}  
a{  
    position: fixed;
    left: 170;
    top: 500;
    float: right;  
    background-color: none; 
    color: #24242b; 
    font-size: 15;
    text-decoration: none;
}  

#an_acc{
    position: fixed;
    left: 350;
    top: 300;
    border: none;
    font-size: 12px;  
}

#or_use{
    color: #24242b;
    position: fixed;
    left: 185;
    top: 340;
    border: none;
    font-size: 14px; 
}
#Forgotpass:hover{
    font-weight: bold;
    font-size: 14px;

}
#facebook{
    position: fixed;
    top: 190;
    left: 170;
    border: solid;
    border-color: #f3f3f3;
    border-radius: 50%;
    background: none;
    padding: 13;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-width: thin;
    font-size: 40px;
    text-align: center;
}

#facebook:hover{
    color: white;
    background-color: #ff4267;
}
#twitter{
    position: fixed;
    top: 190;
    left: 260;
    border: solid;
    border-color: #f3f3f3;
    border-radius: 50px;
    background: none;
    padding: 13;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-width: thin;
    font-size: 40px;
    text-align: center;
}

#twitter:hover{
    color: white;
    background-color: #ff4267;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}